*{
    margin: 0px;
    
}
.cont1{
    height: 100vh;
    background-position: center;
    background-size: cover;
    background-image: url(netback.jpg);
    
    
}
img{
    width: 170px;
    margin-left: 70px;
    margin-top: -65px;
}
.button{
    background-color: rgb(229, 9, 20);
    border: none;
    width: 90px;
    height: 35px;
    color: white;
    border-radius: 5px;
    font-size: 15px;
    font-weight: 520;
    margin-top: 45px;
    margin-left: 1550px;
}
.tem{
    text-align: center;
    color: white;
    font-size: 60px;
    font-family:Arial, Helvetica, sans-serif;
    /* font-weight: 500; */
    margin-top: 150px;
    box-shadow: 5;
    
    
}
.tem2{
    text-align: center;
    color: white;
    font-size: 60px;
    font-family:Arial, Helvetica, sans-serif;
    margin-top: -10px;
}
a{
    color: azure;
}
.tem3{
    text-align: center;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: -0px    ;
    font-weight: 300;
    font-size: 23px;

}
.tem4{
    text-align: center;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
    font-size: 16px;
    margin-top: 25px;
}
.bgb{
    background-color: rgba(0, 0, 0, 0.849);
    height: 100vh;
}
.input{
    margin-left: 460px;
    height: 62px;
    width: 470px;
    margin-top: 20px;
}
.label{
    height: 68px;
    width: 200px;
    background-color: rgb(244, 6, 12    );
    color: white;
    font-size: 20px;
    border: none;
    margin-left: -4px;
}
.ton{
    background-color: black;
}
body{
    background-color: black;
}
    .cont2{
        border-top: 10px solid rgb(34,34 ,34);
        height: 450px;
        border-bottom: 10px solid rgb(34,34 ,34);
}
.h1{
    margin-left: 250px;
    color: white;
    font-size: 50px;
    font-family:Arial, Helvetica, sans-serif;
    margin-top: 150px;
}
.h3{
    margin-left: 250px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 5px;
    font-weight: 300;
    font-size: 25px;
}
.h3b{
    margin-left: 250px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    /* margin-top: -25px; */
    font-weight: 300;
    font-size: 25px;
}
.tv{
    margin-left: 800px;
    margin-top: -250px;
    height: 350px;
    width: 500px;
}
.cont3{
    /* border-top: 10px solid rgb(34,34 ,34); */
    height: 350px;
    border-bottom: 10px solid rgb(34,34 ,34);
}    
.h1b{
    color: white;
    font-size: 50px;
    font-family:Arial, Helvetica, sans-serif;
    margin-top: 150px;
    margin-left: 750px;
}
.h1c{
    color: white;
    font-size: 50px;
    font-family:Arial, Helvetica, sans-serif;
    margin-left: 750px;
}
.h3c{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    /* margin-top: -25px; */
    font-weight: 300;
    font-size: 25px;
    margin-left: 750px;
    margin-top: 20px ;
}
.h3d{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    /* margin-top: -25px; */
    font-weight: 300;
    font-size: 25px;
    margin-left: 750px;
}
.mobile{
    height: 400px;
    width: 450px;
    margin-left: 200px;
    margin-top: -330px;
    padding: -50px;
}
.cont4{
    
        /* border-top: 10px solid rgb(34,34 ,34); */
        height: 170px;
        border-bottom: 10px solid rgb(34,34 ,34);
}
.h1d{
    margin-left: 250px;
    color: white;
    font-size: 50px;
    font-family:Arial, Helvetica, sans-serif;
    margin-top: 50px;
}    
.kids{
    height: 300px;
    width: 450px;
    margin-left: 200px;
    margin-top: -250px;
    padding: -50px;
}